.advantage__wrapper--first {
  padding-top: 40px;
  color: @white;
  background-color: @light-grey-blue;
}

.advantage__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

.advantage__number {
  padding-top: 15px;
  padding-bottom: 20px;
  font-size: 14px;
  line-height: 21px;
}

.advantage__slogan {
  width: 265px;
  margin: auto;
  padding-bottom: 40px;
  font-size: 14px;
  line-height: 21px;
}

.advantage__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.advantage__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.advantage__item {
  display: flex;
  flex-direction: row;
  padding-bottom: 3px;
}

.advantage__text-wrapper {
  padding-left: 11px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.advantage__logo--svg {
  width: 40px;
  height: 36px;
  margin-left: 20px;
  margin-right: 10px;
}

.advantage__title--svg {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @black;
}

.advantage__subtitle {
  width: 210px;
  font-size: 14px;
  line-height: 21px;
  padding-top: 15px;
  padding-bottom: 13px;
  text-align: left;
  color: @black-two;
}

.advantage__wrapper--second {
  padding-top: 45px;
  color: @white;
  background-color: @light-grey-blue;
}

.advantage--other {
  color: @black-two;
  background-color: #eeeeee;
}

.advantage--other .advantage__text {
  padding-top: 30px;
}

.advantage--other .advantage__slogan {
  width: 249px;
  border-bottom: 1px solid #d6d6d6;
}

.advantage--other:last-child .advantage__slogan {
  border-bottom: none;
}
